*{
	margin: 0px;
	padding: 0px;
}
div#contenedor{
	margin: auto;
	margin-top: 5px;
	height: 1300px;
	width: 900px;
	background: white;

}
div#cabecera{
	height: 9%;
	background: black;
}
div#logo{
	height: 100px;
	width: 100px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;	
}
.logotipo img{
	margin-left: 15px;
	margin-top: 0px;
}	
div#menu{
	float: right;
	background:  black;
	height: 90%;
	width: 70%;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.inicio{
	list-style: none;
	padding: 0;
	margin: auto;
}
.inicio li a{
	text-decoration:none;
	padding: 16px;
	font-size: 25px;
	font-family: lucida;
	background:  black;
	color: white;
}
.inicio li{
	display: inline-block;
	margin-top: 45px;
	text-align: center;
}
.inicio li a:hover{
	background: red;
	border-radius: 200px;
} 



div#cuerpo{
	height: 82%;
	background: #E5E5E5;	
}
div#enmedio{
	width: 900px;
	height: 1066px;
	background: beige;
}
h1{
	text-align: center;
	font-family: italiana;
	font-size: 40px;
}
p{
	font-size: 18px;
	font-family: arial;
	margin-left: 40px;
	margin-right: 40px;
}
img{
	padding: 0px;
	margin-top: 60px;
	margin-left: 80px; 	

}




div#pie{                        /*aqui esta todo lo que se ocupo respecto al pie de pagina*/
	height: 12%;
	background-color: white;
}
div#info1{                      /*la zona derecha de la informacion */
	background: black;
	width: 55%;
	height: 100%;
	float: left;
}
h4{
	font-size: 16px;            /*tanto como los h4, h3 son para los titulos de cacad parte*/
	padding: 10px;
	color: white ;
	margin-top: 13px;
}
li{
	font-size: 11px;            /*esta es la lista para la parte de los datos*/
	margin-top: 4px;
	padding: 10px;
	color:white;
	font-family: arial, helvetica;
}
div#redes{
	background: black;
	width: 45%;
	height: 100%;
	float: right;
}
.sociales li{                /*este coodigo es para ajustar la zona de donde estan las redes */
	display: inline-block;
	justify-content: left;
	margin-top: 20px;
}
h3{                     
	font-size: 19px;
	margin-top: 20px;
	padding: 16px;
	color:white;
}
h4{
	font-size: 19px;
}
.sociales a{                  
	padding: 10px;
}
.sociales img{
	margin: 5px;
	border-radius: 200px;
}	
